{% extends "layout.html" %}
{% block title %}Find Customer{% endblock %}
{% block content %}
<h1>ALL CUSTOMERS</h1>
{% if "green" in color %}
<div class="alert alert-success">
  <strong>Success!</strong> {{msg}}
</div>
{% elif "red" in color %}
<div class="alert alert-danger">
  <strong>Warning!</strong> {{msg}}
</div>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>active loans</th>
    </tr>
  </thead>
  {% for name in names %}
  <tr class="table-primary">
    <td>{{name.id}}</td>
    <td>{{name.name}}</td>
    <td>{{name.age}}</td>
    <td>{% if name.customer_loans %}
      active loans
      {% else %}
      no active loans
      {% endif %}</td>
    <td>
      <a class="btn btn-danger" href="/displayall/{{name.id}}" role="button">Remove</a>

    </td>
  </tr>
  {% endfor %}
</table>




{% endblock %}